
.ipynb_checkpoints/simple-nn-checkpoint.ipynb
.ipynb_checkpoints/simple-nn-2-checkpoint.ipynb
.ipynb_checkpoints/Optimisierung-checkpoint.ipynb
.ipynb_checkpoints/Optimierung-p2-checkpoint.ipynb
.ipynb_checkpoints/Optimierung-p1-checkpoint.ipynb
.ipynb_checkpoints/OptimierungTeil1-checkpoint.ipynb
.ipynb_checkpoints/OptimierungTeil2-checkpoint.ipynb
